html {
    background-color: #928991;
    color: #444444;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

body {
}

a:link, a:visited {
    text-decoration: none;
    color: #2f6c6a;
}

.container {
  margin: 0 auto;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
}

.name {
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: center;
}

.container hr {
  width: 100%;
}

br { clear:both; }

.cellContainer {
  margin: 0 auto;
  position: relative;
  padding-bottom: 10px; 
  overflow: auto;
}

.cellRow {
  margin: 0 auto;
  position: relative;
  font-size: 26px;
  text-align: center;
  display: inline-block;
  overflow: auto;
}

.cell {
  width: max(6.5vw, 4.5vh);
  min-height: max(2.6vw, 2vh);
  display: inline-block;
  margin: 0 0;
  display: inline;
  position: relative;
  font-size: 2.0vw;
  text-align: center;
  float: left;
  clear: none;
}

.title {
    margin: 0 auto;
    position: relative;
    font-size: max(4vw, 6vh);
    text-align: center;
}

.subtitle {
    margin: 0 auto;
    position: relative;
    font-size: max(3vw, 2.1vh);
    text-align: center;
}

.links {
    display: inline-block;
    font-size: max(2.8vw, 3vh);
}
.link {
    font-size: max(2.8vw, 2.2vh);
}
img {
  height: max(2.8vw, 2vh);
  width: auto;
  margin-bottom: -0.5vh;
}
