html {
    background-color: #C0BEBE;
    color: #444444;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

a:link, a:visited {
    text-decoration: none;
    color: #947555;
}

.container {
    width: 1024px;
    height: 100%;
    position: fixed;
    top: 5%;
    left: 0%;
    right: 0px;
    padding-left: 40px;
}

.subcontainer {
    right: 0px;
    margin-left: 10px;
    padding-left: 10px;
    float: left;
    width: 50%;
    height: 80% !important;
    overflow: visible;
    border: none;
    background-color: #C0BEBE;
    display: inline-block;
    height: auto;
}

.all-links { 
    height: 80%;
    float: left;
}

.chunk {
    padding-left: 40px;
}

.name {
    padding-left: 20px;
    padding-bottom: 20px;
}

.title {
    text-align: right;
    vertical-align: top;
    display: inline-block;
    padding-right: 12px;
    width: 80px;
}

.links {
    display: inline-block;
    padding-left: 10px;
    border-left: 1px solid #947555;
}
