html {
    background-color: #C0BEBE;
    color: #444444;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

a:link, a:visited {
    text-decoration: none;
    color: #947555;
    text-shadow: 1px;
}

.container {
    position: fixed;
    padding-left: 10px;
}

.chunk {
    padding-left: 10px;
}

.name {
    padding-left: 10px;
    padding-bottom: 10px;
}

.title {
    text-align: right;
    vertical-align: top;
    display: inline-block;
    padding-right: 12px;
    width: 40px;
}

.links {
    display: inline-block;
    padding-left: 10px;
    border-left: 1px solid #947555;
}

.links { }
